@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;


}

a{
    text-decoration: none;
}


/* this week trendz iteams */
.container-this-week-trend-iteam{
    position: relative;
    background-color:rgb(164, 241, 241);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 30px;
}

.container-this-week-trend-iteam img{
    width: 400px;
}

.container-this-week-trend-iteam p{
    display:block;
    width: 650px;
}

/* links to ove that page */
.container-this-links{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    height: unset;

}

.image-links{
    width: 100%;

}
.card-body{
    background-color:aliceblue;
    border: 1px  gray;
   border-bottom-right-radius: 5px; 
   border-bottom-left-radius: 5px;

}
.container-card{

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Brand section */
.box{
    width: 185px;
    height: 185px;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box img{
    width: 100%;
    
}

/* new arrival */

.container-iteam{
    width: 280px;
    height: 350px;
    border: 2px solid #ffdc5f;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}

.container-name{
  padding-top: 20px;
  width: 100%;
  height: 25%;
  font-weight: bold;

}
.container-image{
    width: 100%;
    height: 55%;
    padding: 20px;

}

.NewArrival-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contanier-price{
    padding-top: 20px;
    width: 100%;
    height: 20%;
}

.contanier-price span{
    font-size: large;
    font-weight: bold;
}

.conatiner-iteam-group{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}